<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="{{url_for('static', filename='scroll.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='jquery.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css.css')}}"></link>
    <title>Imagens</title>
</head>
<body>
    
    {% block content %}{% endblock %}

</body>